form {
  display: flex;
  flex-direction: column;

  input {
    border-radius: 6px;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1.5px solid gray;
  }

  button {
    border-radius: 6px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    margin: 5px 0;

    &:hover {
      opacity: 0.8;
    }
  }
}
