* {
  box-sizing: border-box;
}

html,
body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: #fec5bb;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

input {
  -webkit-appearance: none;
}
